project.basedir=${project.basedir}
# -----------------------------------------------------------------------------
# Configuration JDBC
#   (Tokio, etc.)
# -----------------------------------------------------------------------------

jdbc.user = ${databaseUser}
jdbc.pwd = ${databasePassword}
jdbc.catalog = ${databaseCatalog}
jdbc.server = ${databaseJdbcUrl}

# -----------------------------------------------------------------------------
#    Configuration test GUI
# -----------------------------------------------------------------------------

gui.default.class = ${clientMainTestClass}
gui.default.arg.0= ${defaultTestUser}
gui.default.arg.1= ${defaultTestUserPassword}
gui.default.arg.2 = ${serverHost}
gui.default.arg.3 = ${serverPort}

vmParameter = -Djava.library.path="${basedir}/target/dll"
# use by <file-assert .../>
broadcast.output.dir = ${java.io.tmpdir}

# -----------------------------------------------------------------------------
#    Configuration test directories
# -----------------------------------------------------------------------------
tmpDir              = ${project.basedir}/target
